body {
    background-color: cadetblue;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

header img {
    height: 50px;
}

header h1 {
    white-space: nowrap;
    font-family: monospace;
}

.chat-message {
    margin: 20px;
    padding: 20px;
    background-color: grey;
}

.chat-container {
    max-height: 500px;
    overflow-y: auto;
}
