:root {
    --main-bg-color: rgb(173, 221, 189);
    --border-header-footer: 2px solid black;
    --header-height: 60px;
    --footer-heigt: 50px;
    --main-elm-padding: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* logged OUT experience ###################################### */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--main-elm-padding);
    width: 100vw;
    height: 100vh;
}

.welcome .logo .logo-text {
    font-size: xxx-large;
}

.welcome .error {
    height: 1.5em;
}

.welcome img {
    width: 80%;
}
.welcome form {
    width: 80%;
}

.welcome form input,
.welcome form button {
    width: 100%;
}

/* loggged IN experience ###################################### */

/* HEADER & FOOTER BASIC SETUP--------------------------------- */
header,
footer {
    position: fixed;
    width: 100%;
    background-color: var(--main-bg-color);
    z-index: 1;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: var(--main-elm-padding);
}

header {
    top: 0;
    height: var(--header-height);
    border-bottom: var(--border-header-footer);
    justify-content: space-between;
}

footer {
    bottom: 0;
    height: var(--footer-heigt);
    border-top: var(--border-header-footer);
    justify-content: space-evenly;
}

main {
    position: fixed;
    top: var(--header-height);
    bottom: var(--footer-heigt);
    padding: var(--main-elm-padding);
    overflow: scroll;
    width: 100vw;
}

/* HEADER CONTENT ------------------------ */
.logo {
    display: flex;
    align-items: center;
}

header img {
    height: 50px;
}

.logo .logo-text {
    white-space: nowrap;
    font-family: monospace;
    font-size: xx-large;
    line-height: 0.7;
    padding: 0 10px 0 0;
    overflow: hidden;
}

.logo .logo-text a {
    color: inherit;
    text-decoration: inherit;
}

.logo .logo-text .the {
    font-size: small;
}
.logo .logo-text .oo {
    font-size: 0.55em;
    display: inline-block;
    transform: translateY(-0.22em);
}

.me {
    height: 50px;
    width: 50px;
    border: 2px black solid;
    border-radius: 50%;
    overflow: hidden;
}

.me img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* FOOTER CONTENT --------------------------------- */

/* MAIN CONTENT --------------------------------- */

/* ------- OWN/OTHER PROFILE  */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .bio {
    width: 80%;
    text-align: center;
}

.profile .profilePic img {
    width: 100%;
}

.profile .bio form textarea {
    width: 100%;
    height: 300px;
}

/* ------- FIND PEOPLE  */

.find-people {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-people .results .result {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
}

.find-people .results .result .name {
    margin: 0 5px 0 0;
}

/* ------- CHAT */
.chat-message {
    margin: 20px;
    padding: 20px;
    background-color: grey;
}

.chat-container {
    max-height: 400px;
    overflow-y: auto;
}

/* STUFF */

.modal {
    position: absolute;
    top: 150px;
    background-color: var(--main-bg-color);
}
